body{
    font-size: 1.2rem;
    line-height: 1.6;
    word-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;}
header{
    background-color: black;
    padding: 1.8em;
}
#logo img{
    width: 200px;
}
#main{
    background-image: url(../Esercizio_mob/images/banner.jpg);
    text-align: center;
}
#section h1{
    padding-top: 5em;
    color: #2ba3c9;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.6em;
    line-height: 1em;
}
#section{
    padding-bottom: 10em;
    
}
#section p{
    text-align: center;
}
#section button{
    margin-top: 1.9rem;
    background-color: #d74f1d;
    padding: 0.7em 1.2em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
article{
    text-align: center;
    
    width: 100vw;
}
#immagine img{
    border-radius: 200px;
    float:inline-start;
    margin-left: 12em;
    margin-right: 3.5em;
}
.articolo1 h3{
    color: #2ba3c9;
    font-weight: bold;
    margin-bottom: 1em;}
.articolo1{
    margin-right: 150px;
    margin: 1.2em;
    
    
}
#articolo{
    margin-left: 720px;
}
article h3,p{
    text-align: left;
}
#section1{
    text-align: center;
    background-color: #ff5000;
    color: white;
    padding-top: 1.9em;
    padding-bottom: 3em;
    width: 100vw;
}
#section1 h1{
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 1em;
}
#section1 h3{
    margin-top: 1.2em;
    text-align: center;

}
#section1 p{
    text-align: center;
    
}
#ceo{
    font-size: 12px;
}
.box1{
    margin-left: 12.5%;
}
.box img{
    width: 100%
}
.box{
    
    border: 1px solid rgba(206, 202, 202, 0.897);
    width: 25%;
    float: inline-start;
    margin: 0 1.5em;
    }
    aside{
        padding: 2em;
        margin-left: 7em;
        width: 100%;
        height: 50vh;
    
    }
    
    .articolo1{
        font-size: 0.9em;
    }
    footer{
        text-align: center;
        background-color: #2ba3c9;
        color: white;
        padding: 1.8em;
        
    }
   #icona1, #icona2, #icona3 p{
    text-align: center;
   }
   #icona1 p{
    text-align: center;
    text-decoration: underline;
   }
   #icona2 a{
    color: white;}
    #copy p{
        text-align: center;
        font-size: 15px;
        margin-top: 1.2em;
    }
    #copy p span{
        text-decoration: underline;
    }
    #copy{
        border-top: 1px solid white;
        width: 20%;
        text-align: center;
        margin-left: 40%;
        margin-top: 1em;
        
        
    }
    footer h1{
        font-size: 2em;
        font-weight: bold;}